html {
    height: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}


img.logo {
    width: 80px;
    margin-top: .2em;
    margin-bottom: .3em;
}

p {
    margin: 1em;
    padding: 0;
}

h2 {
    margin-top: .2em;
}

#math-form {
    text-align: center;
    width: 50%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white;
    border-radius: 10px;
    /* Ensure the form doesn't grow to push the footer unnecessarily on small screens */
    flex-shrink: 0;
}

footer {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    /* Positioning and styling for the footer */
    background-color: #f0f0f0;
    color: #000;
    font-size: 0.8em;
}

#answer {
    padding: 10px;
    width: calc(100% - 20px); /* Adjust width to account for padding */
    text-align: center;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
}

#answer:focus {
    border-color: #ff0000; /* Lighter blue for focus */
    outline: none;
}

#check-answer {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: default;
    transition: background-color 0.3s ease-in-out; /* Smooth transition for color change */
}

#check-answer:not(:disabled) {
    cursor: pointer; /* Only change cursor to pointer when button is enabled */
    background-color: gray; /* Default color, will be overridden by JavaScript */
}
#check-answer:disabled {
    cursor: not-allowed; /* Only change cursor to pointer when button is enabled */
}

input:not(:placeholder-shown) + #check-answer:not(:disabled),
#check-answer:not(:disabled):hover {
    cursor: pointer;

}

#answer:focus {
    border-color: #ff0000; /* Apply the new blue to the active entry field border */
}

#answer {
    border-color: gray;
}

#feedback {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    transition: opacity 0.3s ease-in-out;
    opacity: 0; /* Initially hidden */
    pointer-events: none; /* Prevents interaction */
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.hidden {
    display: none;
}
